@model Domaca_Zadaca_3.Core.Models.TodoView

@{ViewData["Title"] = "Add Todo";}

<h1 class="text-center">
    @ViewData["Title"]
</h1>

<form asp-controller="Todo" asp-action="Add" method="post" class="text-center">
    <textarea class="form-control center-block" style="min-width: 70%; resize: none" rows="4" asp-for="Text"></textarea>
    <strong><span class="text-danger" asp-validation-for="Text"></span></strong><br />
    <input type="submit" class="btn btn-primary btn-lg" value="Submit" />
</form>